<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="products" routerLink="/products"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ userName }}</ion-card-title>
      <ion-card-subtitle>{{ userEmail }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img [src]="imageUrl" *ngIf="imageUrl" class="profile-image" />
      <ion-item>
        <ion-label>Fecha de nacimiento:</ion-label>
        <ion-text>{{ birthdate }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Género:</ion-label>
        <ion-text>{{ gender }}</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="navigateTo('profile/profile-edit')">Editar Perfil</ion-button>

</ion-content>