<!-- register.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-md="6" size-lg="4">
        <form (ngSubmit)="register()">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input type="text" [(ngModel)]="name" name="name" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Correo electrónico</ion-label>
            <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Repetir Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="repeatPassword" name="repeatPassword" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating"></ion-label>
            <ion-input type="date" [(ngModel)]="birthdate" name="birthdate" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Género</ion-label>
            <ion-select [(ngModel)]="gender" name="gender">
              <ion-select-option value="male">Masculino</ion-select-option>
              <ion-select-option value="female">Femenino</ion-select-option>
              <ion-select-option value="other">Otro</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Subir Imagen</ion-label>
            <ion-input type="file" (change)="onFileSelected($event)" accept="image/*"></ion-input>
          </ion-item>

          <!-- Agregar más campos según sea necesario -->

          <ion-button type="submit" expand="full" color="primary">Registrarse</ion-button>
        </form>

        <ion-button (click)="goToLoginPage()" color="primary" fill="clear" expand="full">Ya tengo cuenta</ion-button>

        <!-- Agrega este botón con el evento click y un método goToLoginPage() en el controlador TypeScript -->

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
